@model finlab.Dominio.Despesas

<div class="form-horizontal">
    <form action="Edit" method="Post">

        <div class="form-group">
            <label>Id</label>
            <input  class="form-control"
                    type="text" 
                    name="id"
                    value="@Model.id" />
        </div>

        <div class="form-group">
            <label>Data</label>
            <input  class="form-control"
                    type="text"
                    name="data"
                    value="@Model.data" />
        </div>

        <div class="form-group">
            <label>NumDoc</label>
            <input  class="form-control"
                    type="text" 
                    name="numDoc"
                    value="@Model.numDoc"/>
        </div>

         <div class="form-group">
            <label>Grupo</label>
            <input  class="form-control"
                    type="text" 
                    name="grupo"
                    value="@Model.grupo"/>
        </div>

         <div class="form-group">
            <label>Local</label>
            <input  class="form-control"
                    type="text" 
                    name="local"
                    value="@Model.local"/>
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input  class="form-control"
                    type="text" 
                    name="valor"
                    value="@Model.valor"/>
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>